.DS_Store
instance/
**/__pycache__
scratch_folder/
**/.env
**/.flaskenv
*jupyter*
Supplemental/
**/.nova
config.json
attributions.txt
.pyc
untracked/
.ipynb_checkpoints
*.ipynb
.vscode

# MS Office temp files
~*.xlsx
~*.docx

# TablePlus tag files
*.sql.tag
